<h1>Showing Reports!</h1>


<p>
  <strong>&lt% some ruby code %&gt</strong>  => this translates to : 'evaluate ruby code'
</p>
<p>
  <strong>&lt%= some ruby code %&gt</strong> => the extra '=' translates to : 'evaluate and display ruby code'
</p>
<p><strong>Title: </strong><%= @report.title %></p>
<p><strong>Description: </strong><%= @report.description %></p>
